<!-- <!DOCTYPE html>
<html>
    <head>
        <title>SafePath</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafePath</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/SafePathLogo.png') }}" alt="SafePath Logo">
            <span>SafePath</span>
        </div>
        <div class="navbar-links">
            <a href="{{ url_for('home') }}" class="active">Home</a>
            <a href="{{ url_for('report') }}">Report</a>
            <a href="{{ url_for('crimes') }}">Crimes</a>
            <a href="{{ url_for('tips') }}">Safety Tips</a>
            <a href="{{ url_for('route_page') }}">Find Safe Route</a>
        </div>
    </nav>

    <header>
        <h1>SafePath</h1>
        <p>Navigate Smarter. Drive Safer</p>
    </header>
    
    <main>
        <section class="hero-section">
            <img src="{{ url_for('static', filename='images/SafePathLogo.png') }}" alt="SafePath Logo">
        </section>

        <section class="features-section">
            <div class="feature-item">
                <img src="{{ url_for('static', filename='images/GoogleMapsLogo.png') }}" alt="Google Maps Icon">
                <h3>Google Maps API</h3>
                <p>Integrated with Google Maps API to utilize updated road information</p>
            </div>
            <div class="feature-item">
                <img src="{{ url_for('static', filename='images/MontgomeryCounty.png') }}" alt="Montgomery County Logo">
                <h3>Crime Data API</h3>
                <p>Utilize Montgomery County Crime Data API to receive real-time crime data</p>
            </div>
            <div class="feature-item">
                <img src="{{ url_for('static', filename='images/safety.jpg') }}" alt="Safe Route Icon">
                <h3>Find Safest Route</h3>
                <p>Combine real time traffic and crime data to plan a safe path to get you to your destination</p>
            </div>
        </section>
    </main>
    <footer>
        &copy; {{ 2024 }} SafePath. All rights reserved.
    </footer>
</body>
</html>