<!DOCTYPE html>
<html>
<head>
    <title>Report an Issue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Submit a Safety Report</h1>
    <form action="/submit_report" method="post">
        <label for="location">Location/Area:</label><br>
        <input type="text" name="location" required><br><br>

        <label for="type">Type of Issue:</label><br>
        <select name="type">
            <option>Dark Area</option>
            <option>Suspicious Activity</option>
            <option>Unsafe Intersection</option>
            <option>Other</option>
        </select><br><br>

        <label for="description">Description:</label><br>
        <textarea name="description" rows="4" cols="50"></textarea><br><br>

        <button type="submit">Submit Report</button>
    </form>

    <a href="{{ url_for('home') }}"><p>Return Home</p></a>
    <a href="{{ url_for('crimes') }}"><p>View Recent Crimes</p></a>
    <a href="{{ url_for('report')}}"><p>File a Crime Report</p></a>
    <a href="{{ url_for('route_page') }}">Find Safe Route</a>

</body>
</html>