<!DOCTYPE html>
<html>
<head>
    <title>Safety Tips</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Stay Safe: Tips fpr Safer Travel</h1>
    <ul>
        <li>Avoid dark or isoloated areas when possible.</li>
        <li>Share your live location with a friend</li>
        <li>Report any suspicious activity in the app.</li>
        <li>Stick to well-lit main roads when walkign at night.</li>
        <li>Trust your instincts. If somethign feels wrong, change your route.</li>
    </ul>
    <a href="{{ url_for('home') }}"><p>Return Home</p></a>
    <a href="{{ url_for('crimes') }}"><p>View Recent Crimes</p></a>
    <a href="{{ url_for('report')}}"><p>File a Crime Report</p></a>
</bod>
</html>